{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Meet Your Team-Mates!
{% endblock %}

{% block content %}

    <p> You have been matched with two other players! </p>

    <p> Player 1 in your team is: </p>
    <div class="box">
        <span class="cen"><b>{{n1}}</b></span>
    </div>

    <p><span class="cen"><b>{{n1}}</b></span> is {{age1}} years old, likes the color {{color1}}, and listens to {{music1}}. </p>

    <p style="padding-top:20px"></p>

    <p>Player 2 in your team is:</p>
    <div class="box">
        <span class="cen"><b>{{n2}}</b></span>
    </div>

    <p><span class="cen"><b>{{n2}}</b></span> is {{age2}} years old, likes the color {{color2}}, and listens to {{music2}}. </p>

    <p style="padding-top:20px"></p>

<p> <b>Together</b> you will try to solve maths tasks. </p>

       <p> Both SPEED and ACCURACY are rewarded!</p>

       <p> For each math task the group solves, you will receive a bonus of {{Constants.MathsBonus}}. </p>


    <p> One player is the <b>active</b> player and answers the given mask task. The other two players are <reserve> players. After the active player has answered the question, each of the inactive players can send a <b>correction</b> if they wish to do so. After their correction, or if they don't want to make a correction, one of the reserve players becomes the active player and can answer the next math task. This will continue for {{Constants.TimeMax}} seconds. </p>

    <p> In a moment, the "Next" button will appear and you can begin the task!</p>

	<div id="button1">
	{% next_button %}
	</div>



	<p> You are player {{whichRole}} </p>

{% endblock %}


{% block styles %}

<style type="text/css">


div.red {
	border-style: dashed;
	border-width: 1px;
	border-color: red;
	color: red;
	padding: 4px;
}

div.box {
	text-align: center;
}


.otree-timer {
	display: none;
}

}

</style>



{% endblock %}




{% block scripts %}
<script>

  $(document).ready(function () {
	$("span.cen:contains('Sarah')").css("color", "DeepPink");
	$("span.cen:contains('Jennifer')").css("color", "HotPink");
	$("span.cen:contains('Mary')").css("color", "Orchid");
	$("span.cen:contains('Peter')").css("color", "MediumSlateBlue");
	$("span.cen:contains('John')").css("color", "blue");
	$("span.cen:contains('Robert')").css("color", "DeepSkyBlue");
	$("span.cen:contains('Sasha')").css("color", "green");
	$("span.cen:contains('Charlie')").css("color", "green");
	$("span.cen:contains('Rory')").css("color", "green");
  });


	function hide() {
		document.getElementById("button1").style.display = "none";
	}


	hide()

	var timePeriodInMs = {{mintime|json}};

	setTimeout(function()
		{
		document.getElementById("button1").style.display = "block";
		},
	timePeriodInMs);



</script>


{% endblock %}
