{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Your Current Task
{% endblock %}

{% block content %}
    <p> Please add up all nine numbers:</p>

    	

	<table>
	<tr><td>{{currQ.1}}</td><td>{{currQ.6}}</td><td>{{currQ.7}}</td></tr>
	<tr><td>{{currQ.2}}</td><td>{{currQ.5}}</td><td>{{currQ.8}}</td></tr>
	<tr><td>{{currQ.4}}</td><td>{{currQ.3}}</td><td>{{currQ.0}}</td></tr>
	</table> 


    <p> Once you feel confident in an answer, enter it below.</p>

    <input id="inputbox" type="number" min = "-27" max = "27"  required form = "liveform">

        {% chat nickname=chat_nickname %}

<div style="visibility: hidden">
    {% next_button %}
</div>

{% endblock %}


{% block styles %}

 <style type="text/css">
table {
    border: 1px solid black;
    border-collapse: collapse;
    text-align:center;
    width: 180px;
    height:180px;
}
td {
    border: 1px solid black;
    border-collapse: collapse;
	font-size:20px;
    width:60px;
    height:60px;

}
</style>


{% endblock %}

{% block scripts %}
<script>

  $(document).ready(function () {
   $('.otree-chat__messages').bind("DOMSubtreeModified", function () {
	$("span.otree-chat__nickname:contains('Sarah')").css("color", "DeepPink");
	$("span.otree-chat__nickname:contains('Jennifer')").css("color", "HotPink");
	$("span.otree-chat__nickname:contains('Mary')").css("color", "Orchid");
	$("span.otree-chat__nickname:contains('Peter')").css("color", "MediumSlateBlue");
	$("span.otree-chat__nickname:contains('John')").css("color", "blue");
	$("span.otree-chat__nickname:contains('Robert')").css("color", "DeepSkyBlue");
   });
  });



</script>


{% endblock %}


