{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Bonus: How well did you do in the quiz?
{% endblock %}

{% block content %}

    <p> Please think back to the science quiz you took at the start of this session. </p>

    {% formfield player.quizperfw1 %}

    <p>Please think carefully!
        The closer your answer is to the truth, the more you will earn:
        you can get an extra bonus of up to <b>{{Constants.ExtraBonusMax}}</b>!</p>

	<p> </p>
	<p> </p>

	    <div class="panel panel-warning" id="panel1">
        <div class="panel-heading">
             <h5 class="panel-title">
        		<a data-toggle="collapse" data-target="#collapseOne" class="btn-block" href="#collapseOne">
            		Details of the Payment Rule
        		</a>
      		</h5>
        </div>
        <div id="collapseOne" class="panel-collapse collapse in" data-toggle="false">
        	<div class="panel-body">

 	<p> The computer will check your quiz score and the compute the difference between your quiz score and your answer to the question here. </p>
 	<p> Then, the computer will subtract the square of this difference divided by {{Constants.QuadMultiplierPenalty}} from {{Constants.ExtraBonusMax}}. </p>

 	<p> In numbers: </p>

 	<p> Your bonus  =  {{Constants.ExtraBonusMax}} - 1/{{Constants.QuadMultiplierPenalty}} * (Your Answer - Your Actual Score)^2 </p>

 	<p> This may sound complicated but it rewards you for giving your best possible guess! </p>




        </div>
    </div>
</div>
</div>

<p> </p>
<p> </p>

    {% next_button %}

{% endblock %}
