{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Next Session
{% endblock %}

{% block content %}

<p> Your answer has been submitted! In a moment, you will fill out a few short surveys and then be finished with today's session. </p>

<div class="red"><p> In three days you will return for the second session.
    You will be asked follow-up questions about how your team worked together.
                    </p></div>


{% chat nickname=chat_nickname %}


    <div id="button1">
        {% next_button %}
    </div>

    <div id="button2">
        <p>
            (The Next Button will appear after {{Constants.minWait}} seconds.)
        </p>
    </div>

{% endblock %}


{% block styles %}

<style type="text/css">


div.red {
	border-style: dashed;
	border-width: 1px;
	border-color: red;
	color: red;
	padding: 4px;
}

</style>

{% endblock %}


{% block scripts %}
<script>
	function hide() {
		document.getElementById("button1").style.display = "none";
	}

	function hide2() {
		document.getElementById("button2").style.display = "none";
	}

	hide()

	var timePeriodInMs = {{mintime|json}};

	setTimeout(function()
		{
		document.getElementById("button1").style.display = "block";
		hide2();
		},
	timePeriodInMs);


  $(document).ready(function () {
   $('.otree-chat__messages').bind("DOMSubtreeModified", function () {
	$("span.otree-chat__nickname:contains('Sarah')").css("color", "DeepPink");
	$("span.otree-chat__nickname:contains('Jennifer')").css("color", "HotPink");
	$("span.otree-chat__nickname:contains('Mary')").css("color", "Orchid");
	$("span.otree-chat__nickname:contains('Peter')").css("color", "MediumSlateBlue");
	$("span.otree-chat__nickname:contains('John')").css("color", "blue");
	$("span.otree-chat__nickname:contains('Robert')").css("color", "DeepSkyBlue");
   });
  });

  document.getElementsByClassName("otree-chat__btn-send")[0].style.visibility = 'hidden';
  document.getElementsByClassName("otree-chat__input")[0].style.visibility = 'hidden';




</script>


{% endblock %}

